*
{
    margin: 0;
    padding: 0;
	text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


p, a, li, h1, h3{
	font-family: 'Open Sans', sans-serif;
}
h1{
	text-align: center;
	padding-bottom: 20px;
}

body{
    background: url(../recursos/imagenes/Pizza\ background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}


/* ESTA ES LA CABECERA*/
nav{
    background: #780000;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 70px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
	text-decoration: none;
}
li a.active, li a:hover{
    background: #1f1fff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.nav-menu ul li:hover {
	background: #0077b6;
  }


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
	
    }
    nav ul li a{
        font-size: 20px;
	
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}


/* AQUI COMIENZA EL CUERPO */
.contenedor{
	width:auto;
	height:500px;
	
  }
  /*Aplicamos la propiedad object-fit cover, ajustar su tamaño y no perder la proporcion de nuestra imagen*/
 .contenedor img{
	object-fit: cover;
	width:100%;
	height:100%;
  }


.slider{
	width: 100%;
}

.iconos{
	overflow: hidden;
	margin:20px 0px ;
    
}
.iconos h3{
	text-align: center;
	color: #444444;
	font-size: 26px;
}
.iconos div{
	width: 24%;
	float: left;
	overflow: hidden;
}

.iconos div img{
	width: 80%;
	display: block;
	margin: auto;
    width: 300px;
    height: 250px;
}
.iconos div a{
	text-align: center;
	color: cornflowerblue;
	text-decoration: none;
	
}

.bienvenida{	
	background: #999;
	padding: 20px;
		
}
.bienvenida p{
	text-align: center;	
	color: #ffffff;
	margin: 20px 30px ;
}


.parallax{
	width: 100%;
	height: 150px;
	background: url(imagenes/fondo.jpg);
	background-size: 200%;
	background-attachment: fixed;
	background-repeat: no-repeat;	
	overflow: hidden;
}
.parallax a{
	display: block;
	padding: 10px;
	width: 150px;
	text-align: center;
	text-decoration: none;
	background: #000000;
	color: #ffffff;
	margin: 50px auto 50px auto;
	transition: 1s;
}
.parallax a:hover{
	background: orange;
	color: #000000;
}


.publicidad{
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
}
.publicidad img{
	width: auto;
	height: 550px;
	margin: auto;
	display: flex;
justify-content: center;
}




/* Página Contacto*/

form {
    width:340px;
	height:440px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	padding:20px 30px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position:relative
}
form h2{
	margin:10px 0;
	padding-bottom:10px;
	width:180px;
	color:#18186b;
	border-bottom:3px solid #18186b
}
input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2
}
input:focus{
	border-bottom:2px solid #78788c
}
p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a}
button{
	float:right;
	padding:8px 12px;
	margin:8px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	transition:all .3s}
button:hover{
	background:#78788c;
	color:#fff
}
form div{
	content:'Hi';
	position:absolute;
	bottom:-15px;
	right:-20px;
	background: darkblue;
	color:#fff;
	width:320px;
	padding:16px 4px 16px 0;
	border-radius:6px;
	font-size:13px;
	box-shadow:10px 10px 40px -14px #000}
span{
	margin:0 5px 0 15px
}

.numero {
	display: flexbox;
	width: 100%;
	padding: 30px;
	border: #18186b;
	white-space: nowrap;
}
.numero p{
	text-decoration: solid;
	text-align: justify;
	vertical-align: middle;
}

.formulario .form{

	width:340px;
	height:540px;
	
}

.formulario .contacto{
	display: flex;
	justify-content: space-evenly;
}
/* Menu HTML */

.clasicas {
	display: flex;
	width: 130%;
	padding: 50px;
  }
  
  .insignias {
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
	color: white;
	width: 350px;
	height: 550px;
	border-radius: 10px;
	padding: 30px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
  
	box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
	  -5px 0 10px rgba(0, 0, 0, 0.1);
  
	transition: all 0.3s ease;
  }
  
  .insignias a {
	color: yellow;
	text-decoration: none;
	font-weight: bold;
  }
  
  .insignias a:hover {
	color: lightyellow;
  }
  
  .insignias:hover {
	margin-right: 80px;
	transform: rotate(3deg) translateY(-150px);
  }
  
  .insignias .encabezado {
	flex: 1;
	font-size: 30px;
  }
  
  .insignias .encabezado .titulo {
	padding: 10px 0;
  }
  
  .insignias .encabezado .ingredientes {
	font-size: 18px;
  }
  
  
  
  .element-1:hover,
  .element-2:hover,
  .element-3:hover {
	margin-left: -130px;
  }

/* Pagina de menu */

.author img{
	width: 70%;
	display: block;
	margin: auto;
    width: 200px;
    height: 200px;
}

/* Página Locales */

.local {
	display: flex;
	width: 130%;
	padding: 40px;
	border-style: groove;
}

.local img{
	image-orientation: from-image;
	
}
.tienda {
	display: flex;
	width: 1500px;
	padding: 50px;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	
	
}

.tienda-2 {
	display: flex;
	width: 80%;
	padding: 10px;
	justify-content: space-between;
}

/* Página Nosotros */
.acerca {
	padding: 10px;
	width: 500px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	padding:20px 30px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position:relative
}
.historia {
	display: flex;
	width: 1300px;
	padding: 100px;
	justify-content: space-around;
}

.historia img {
	width: 200px;
    height: 200px;
}
.historia div p{
	line-height: 1.2;
    font-size: 1em;
	text-align: justify;
	height: 200px;
	width: 200px;


}
.historia-1 {

	width:500px;
	height:240px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	padding:20px 30px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position: unset;
}

.historia-1 p{
	letter-spacing: 2px;
	word-spacing: 1px;
}

/* NAV responsive */
